.tableData {
    margin: 2rem;
  }
  
  .tableData-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  
  .button {
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0.5rem 0.9rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  

  
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7rem;
    margin-right: 15rem;
    margin-top: 7rem;
  }
  
  .inputRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  
  .buttonContainer .link {
    margin-left: 1rem;
    width: 10rem;
  }
  
  .cancel {
    background-color: rgba(114, 99, 99, 0.921);
  }
  
  .input {
    width: 25rem;
  }
